* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;

    &:focus,
    &:active {
        outline: none;
    }
}

body{
    font-family: 'Raleway', sans-serif;
}

button {
    font-family: inherit;
    cursor: pointer;
    background: none;
    border: none;
}

input {
    font-family: inherit;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.btn{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 34px;
    background: #F7951E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}