mixin about()
    .about    
        .about__body.container 
            .about__images 
                img(src="images/about-1.png", alt="").about__img 
                img(src="images/about-2.png", alt="").about__img 
            .about__content     
                h2.about__title о компании
                p.about__p Наша компания предлагает услуги всем желающим улучшить свои жилищные условия. Мы специализируемся на строительстве загородных домов, ремонте квартир в Москве и Московской области. За несколько лет работы в этой сфере наработан солидный опыт, сформировался круг поставщиков строительных, отделочных материалов. Это позволяет нам оперативно выполнять заказы любой сложности по европейским стандартам.
                p.about__p Нашей заслуженной гордостью являются высококвалифицированные специалисты различных профилей. Профессиональные мастера возведут теплый, уютный дом, проведут надежные коммуникации, сделают безупречную реставрацию в квартире. Гарантии, выдаваемые на все виды работ, свидетельствуют о нашей уверенности в качестве результата.
                p.about__desc Наша компания поможет вам создать идеальные условия для себя и своей семьи!
                a(href="#!").about__btn Подробнее 
