mixin footer()
    footer.footer
        .footer__body.container 
            a(href="index.html").footer__logo
                img(src="images/logo.png", alt="") 
            ul.footer__list 
                li.footer__li   
                    a(href="#!").footer__link Главная
                li.footer__li   
                    a(href="#!").footer__link Услуги
                li.footer__li   
                    a(href="#!").footer__link Акции
                li.footer__li   
                    a(href="#!").footer__link Наши работы
                li.footer__li   
                    a(href="#!").footer__link Отзывы
                li.footer__li   
                    a(href="#!").footer__link Контакты
            .footer__item.df
                img(src="images/time.png", alt="")
                p Пн - ВС: с 10:00 до 20:00
            .footer__item.df
                img(src="images/location.png", alt="") 
                p г. Москва, Домодедовская, д.5, к.3.
            a(href="tel:4993227771").footer__tel.df +7 499 322 77 71 
            a(href="#!").footer__btn Вызвать замерщика 
        .footer__bot 
            .footer__bot-body.container
                a(href="#!").footer__privacy Политака конфиденциальности 
                .footer__item.dn 
                    img(src="images/time.png", alt="")
                    p Пн - ВС: с 10:00 до 20:00
                .footer__item.dn
                    img(src="images/location.png", alt="") 
                    p г. Москва, Домодедовская, д.5, к.3.
                a(href="tel:4993227771").footer__tel.dn +7 499 322 77 71 