mixin header()
    header.header 
       .header__body.container 
            a(href="").logo
                img(src="images/logo.png", alt="")
            ul.header__list 
                li.header__item 
                    a(href="#!").header__link 
                        img(src="images/location.png", alt="") 
                        | г. Москва, Домодедовская, д.5, к.3.
                li.header__item
                    a(href="#!").header__link 
                        img(src="images/time.png", alt="") 
                        | Пн - ВС: с 10:00 до 20:00
            .header__btns 
                a(href="tel:+74993227771").header__phone.d-mob +7 499 322 77 71
                a(href="#!").header__btn.btn.d-sm Заказать звонок  
    .nav 
        .nav__body.container 
            button.header__button 
                span.header__button-line 
            .nav__menu 
                .nav__menu-close
                .nav__menu-body
                    ul.nav__list 
                        li.nav__item
                            a(href="").nav__link Главная                      
                        li.nav__item
                            a(href="").nav__link  Услуги 
                        li.nav__item
                            a(href="").nav__link Акции
                        li.nav__item
                            a(href="").nav__link Наши работы
                        li.nav__item
                            a(href="").nav__link  Отзывы
                        li.nav__item
                            a(href="").nav__link Контакты
                    .nav__dn    
                        a(href="tel:+74993227771").header__phone.nav__dn-phone +7 499 322 77 71
                        .nav__dn-item 
                            a(href="#!").header__link 
                                img(src="images/location.png", alt="") 
                                | г. Москва, Домодедовская, д.5, к.3.
                        .nav__dn-item
                            a(href="#!").header__link 
                                img(src="images/time.png", alt="") 
                                | Пн - ВС: с 10:00 до 20:00
                        .nav__dn-item 
                            a(href="#!").nav__dn-btn Вызвать замерщика
            form(action="index.html").nav__form
                input(type="text" placeholder="Поиск" ).nav__input
                button(type="submit").nav__search 
                    img(src="images/search.png", alt="")
