mixin intro()
    .intro  
        .intro__body.container 
            .swiper.intro__slider 
                .swiper-wrapper 
                    .swiper-slide.intro__slide 
                        h1.intro__slide-title РЕМОНТ КВАРТИР В МОСКВЕ 
                        p.intro__slide-desc ПО ЦЕНЕ ОТ 
                            span 3 500 РУБ./КВ.М.
                        a(href="#!").intro__slide-btn Узнать подробнее 
                    .swiper-slide.intro__slide 
                        h1.intro__slide-title РЕМОНТ КВАРТИР В МОСКВЕ 
                        p.intro__slide-desc ПО ЦЕНЕ ОТ 
                            span 3 500 РУБ./КВ.М.
                        a(href="#!").intro__slide-btn Узнать подробнее 
                    .swiper-slide.intro__slide 
                        h1.intro__slide-title РЕМОНТ КВАРТИР В МОСКВЕ 
                        p.intro__slide-desc ПО ЦЕНЕ ОТ 
                            span 3 500 РУБ./КВ.М.
                        a(href="#!").intro__slide-btn Узнать подробнее 
                .swiper-button-prev  
                .swiper-button-next 