mixin promo()
    .promo  
        .promo__body.container 
            h2.promo__title АКЦИЯ!
            h3.promo__subtitle Ремонт квартиры под ключ
            p.promo__p Ремонт квартиры под ключ в Москве! Низкие цены, подробная смета!.
            a(href="#!").promo__btn Все акции 