mixin reviews()
    .reviews 
        .reviews__body.container 
            h2.reviews__title.services__title Отзывы
            .reviews__slider.swiper 
                .swiper-wrapper 
                    .swiper-slide.reviews__item
                        .reviews__item-header 
                            .reviews__item-user
                                b Наталья Иванова, 
                                span Москва
                            img(src="images/5star.svg", alt="")
                        p.reviews__item-p Обратились в данную компания за ремонтом квартиры. Решили обновить весь интерьер после покупки квартиры. Порадовали быстрые сроки решения и подход к работе на каждом этапе. Для нас было большим плюсом то, что ребята имели доступ к оптовым поставщикам стро....
                        time.reviews__item-date 16.11.2021
                    .swiper-slide.reviews__item
                        .reviews__item-header 
                            .reviews__item-user
                                b Наталья Иванова, 
                                span Москва
                            img(src="images/5star.svg", alt="")
                        p.reviews__item-p Обратились в данную компания за ремонтом квартиры. Решили обновить весь интерьер после покупки квартиры. Порадовали быстрые сроки решения и подход к работе на каждом этапе. Для нас было большим плюсом то, что ребята имели доступ к оптовым поставщикам стро....
                        time.reviews__item-date 16.11.2021
                    .swiper-slide.reviews__item
                        .reviews__item-header 
                            .reviews__item-user
                                b Наталья Иванова, 
                                span Москва
                            img(src="images/5star.svg", alt="")
                        p.reviews__item-p Обратились в данную компания за ремонтом квартиры. Решили обновить весь интерьер после покупки квартиры. Порадовали быстрые сроки решения и подход к работе на каждом этапе. Для нас было большим плюсом то, что ребята имели доступ к оптовым поставщикам стро....
                        time.reviews__item-date 16.11.2021
                    .swiper-slide.reviews__item
                        .reviews__item-header 
                            .reviews__item-user
                                b Наталья Иванова, 
                                span Москва
                            img(src="images/5star.svg", alt="")
                        p.reviews__item-p Обратились в данную компания за ремонтом квартиры. Решили обновить весь интерьер после покупки квартиры. Порадовали быстрые сроки решения и подход к работе на каждом этапе. Для нас было большим плюсом то, что ребята имели доступ к оптовым поставщикам стро....
                        time.reviews__item-date 16.11.2021
                    .swiper-slide.reviews__item
                        .reviews__item-header 
                            .reviews__item-user
                                b Наталья Иванова, 
                                span Москва
                            img(src="images/5star.svg", alt="")
                        p.reviews__item-p Обратились в данную компания за ремонтом квартиры. Решили обновить весь интерьер после покупки квартиры. Порадовали быстрые сроки решения и подход к работе на каждом этапе. Для нас было большим плюсом то, что ребята имели доступ к оптовым поставщикам стро....
                        time.reviews__item-date 16.11.2021
            .swiper-button-prev
            .swiper-button-next
        .reviews__buttons       
            a(href="#!").reviews__btn.active Все отывы
            a(href="#!").reviews__btn Оставить отзыв