mixin services()
    .services 
        .services__body.container 
            h2.services__title наши услуги
            a(href="#!").services__link Все услуги 
                img(src="images/link.svg", alt="") 
            .services__row.desktop 
                .services__col
                    .services__item 
                        img(src="images/services-1.png", alt="" draggable="false").services__item-img
                        .services__item-content 
                            p.services__item-title Ремонт кухни
                            a(href="#!").services__item-btn Заказать 
                .services__col.services__many
                    .services__items
                        .services__item
                            img(src="images/services-2.png", alt="" draggable="false").services__item-img
                            .services__item-content 
                                p.services__item-title Ремонт спальни
                                a(href="#!").services__item-btn Заказать 
                        .services__item
                            img(src="images/services-3.png", alt="" draggable="false").services__item-img
                            .services__item-content 
                                p.services__item-title Ремонт ванной
                                a(href="#!").services__item-btn Заказать 
                    .services__item
                        img(src="images/services-4.png", alt="" draggable="false").services__item-img
                        .services__item-content 
                            p.services__item-title Электропроводка
                            a(href="#!").services__item-btn Заказать 
            .services__slider.swiper 
                .swiper-wrapper 
                    .swiper-slide.services__item
                        img(src="images/services-1.png", alt="" draggable="false").services__item-img
                        .services__item-content 
                            p.services__item-title Ремонт кухни
                            a(href="#!").services__item-btn Заказать 
                    .swiper-slide.services__item
                        img(src="images/services-2.png", alt="" draggable="false").services__item-img
                        .services__item-content 
                            p.services__item-title Ремонт спальни
                            a(href="#!").services__item-btn Заказать 
                    .swiper-slide.services__item
                        img(src="images/services-3.png", alt="" draggable="false").services__item-img
                        .services__item-content 
                            p.services__item-title Ремонт ванной
                            a(href="#!").services__item-btn Заказать 
                    .swiper-slide.services__item
                        img(src="images/services-4.png", alt="" draggable="false").services__item-img
                        .services__item-content 
                            p.services__item-title Электропроводка
                            a(href="#!").services__item-btn Заказать 
