mixin why()
    .why    
        .why__body.container 
            h2.services__title.why__title почему нам доверяют 
            .why__content 
                .why__item
                    img(src="images/why-1.png", alt="").why__item-img 
                    p.why__item-p Индивидуальные <br>заказы 
                .why__item 
                    img(src="images/why-2.png", alt="").why__item-img 
                    p.why__item-p Выгодная рассрочка 
                .why__item
                    img(src="images/why-3.png", alt="").why__item-img 
                    p.why__item-p Большой <br>опыт работы 
                .why__item
                    img(src="images/why-4.png", alt="").why__item-img 
                    p.why__item-p Осуществляем доставку <br>и сборку 
                .why__item 
                    img(src="images/why-5.png", alt="").why__item-img 
                    p.why__item-p Профессиональные <br>мастера 
                .why__item
                    img(src="images/why-6.png", alt="").why__item-img 
                    p.why__item-p Большой выбор готовых <br>работ 
            .why__slider.swiper 
                .swiper-wrapper 
                    .swiper-slide.why__item  
                        img(src="images/why-1.png", alt="").why__item-img 
                        p.why__item-p Индивидуальные <br>заказы  
                    .swiper-slide.why__item  
                        img(src="images/why-2.png", alt="").why__item-img 
                        p.why__item-p Выгодная рассрочка 
                    .swiper-slide.why__item 
                        img(src="images/why-3.png", alt="").why__item-img 
                        p.why__item-p Большой <br>опыт работы 
                    .swiper-slide.why__item 
                        img(src="images/why-4.png", alt="").why__item-img 
                        p.why__item-p Осуществляем доставку <br>и сборку 
                    .swiper-slide.why__item 
                        img(src="images/why-5.png", alt="").why__item-img 
                        p.why__item-p Профессиональные <br>мастера 
                    .swiper-slide.why__item 
                        img(src="images/why-6.png", alt="").why__item-img 
                        p.why__item-p Большой выбор готовых <br>работ 
