mixin works()
    .works 
        .works__body.container 
            h2.services__title.works__title наши работы
            .works__slider.swiper 
                .swiper-wrapper 
                    .works__item.swiper-slide   
                        img(src="images/works-1.png", alt="").works__item-img
                        .works__item-content    
                            p.works__item-title Ремонт квартиры под ключ
                            p.works__item-p Рано или поздно перед каждым человеком встает вопрос о необходимости ремонта. Каждый хочет, чтобы его дом, квартира или офис были комфортными и уютными...
                            p.works__item-price Цена: 
                                b от 5 000 руб. м²
                            .works__buttons 
                                a(href="#!").works__btn Заказать
                                a(href="#!").works__btn.works__btn_white Подробнее
                    .works__item.swiper-slide   
                        img(src="images/works-2.png", alt="").works__item-img
                        .works__item-content    
                            p.works__item-title Косметический ремонт
                            p.works__item-p Рано или поздно перед каждым человеком встает вопрос о необходимости ремонта. Каждый хочет, чтобы его дом, квартира или офис были комфортными и уютными...
                            p.works__item-price Цена: 
                                b от 2 500 руб. м²
                            .works__buttons 
                                a(href="#!").works__btn Заказать
                                a(href="#!").works__btn.works__btn_white Подробнее
                    .works__item.swiper-slide   
                        img(src="images/works-3.png", alt="").works__item-img
                        .works__item-content    
                            p.works__item-title Ремонт ванной
                            p.works__item-p Рано или поздно перед каждым человеком встает вопрос о необходимости ремонта. Каждый хочет, чтобы его дом, квартира или офис были комфортными и уютными...
                            p.works__item-price Цена: 
                                b от 20 000 руб. м²
                            .works__buttons 
                                a(href="#!").works__btn Заказать
                                a(href="#!").works__btn.works__btn_white Подробнее
            .swiper-button-prev
            .swiper-button-next