doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" href="styles/index.css")
    body 
        include components/header.pug 
        +header
        main.main 
            include components/intro.pug 
            +intro
        include components/footer.pug 
        +footer
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 
        script(src="scripts/index.js") 